fastapi>=0.103.0
uvicorn>=0.23.0
pydantic>=2.3.0
pydantic-settings>=2.0.3
pytest>=7.4.0
httpx>=0.25.0
pytest-asyncio>=0.21.1
rapidfuzz>=3.3.0
nova-event-bus @ git+https://github.com/danuser2018/nova-event-bus.git@v1.0.0
